/* About */

.about-text {
  font-size: 21px;
}

.aboutImage {
  width: 70%;
}

.buttonDocument {
  color: black;
  background-color: #00d0d4;

  border-radius: 21px;
  font-size: 20px;
}

.buttonDocument:hover,
.buttonDocument:focus {
  background-color: white;
  color: black;
}
