.navbar-nav {
  width: 70%;
  justify-content: space-around;
}

.home-background {
  background-image: url("../assets/background.png");
  background-position: center;
}

.app-background {
  background-color: #0062a9;
  height: 94vh;
}

.title {
  font-family: "Verdana", sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 25px;
  animation: rubberBand;
  animation-duration: 2s;
}

.divider {
  width: 15%;
  opacity: unset;
  border-top: 3px solid white;
  margin: auto;
}

.light {
  color: white;
}
.navigation {
  transform: rotate(90deg);
  width: 30px;
}
