@import url("style/general.css");

@import url("style/home.css");

@import url("style/about.css");

@import url("style/skills.css");

@import url("style/projects.css");

@import url("style/contact.css");

@media (min-width: 360px) and (min-height: 726px) {
  .app-background,
  .home-background {
    height: unset;
  }
  .skills {
    height: 103vh;
  }
}
@media (min-width: 360px) and (max-width: 1000px) {
  .aboutImage {
    display: none;
  }
}
@media (min-height: 763px) {
  .app-background,
  .home-background {
    height: 94vh;
  }

  .projects {
    height: unset;
  }
}
